.cta {
  width: 100%;
  height: 70vh;
  padding-top: 90px;
  background: var(--gradient-vibe);
  position: relative;
  overflow: hidden;
}

.cta::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  pointer-events: none;
}   

.cta-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: var(--color-text);
  position: relative;
  z-index: 2;
}

/* TITLE */
.cta h2 {
  font-size: 28px;
  font-weight: 800;
  font-family: var(--font-heading);
  margin-bottom: 20px;
}

/* SUBTITLE */
.cta p {
  font-size: 16px;
  font-family: var(--font-body);
  color: var(--color-text-secondary);
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 35px;
}

/* BUTTONS */
.cta-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  /* width: auto; */
}

/* PRIMARY */
.btn-cta-primary {
  padding: 14px 30px;
  background: #000;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.25s ease;
}

.btn-cta-primary:hover {
  transform: scale(1.06);
  opacity: 0.9;
}

/* SECONDARY */
.btn-cta-secondary {
  padding: 14px 30px;
  background: var(--color-bg-card);
  color: var(--color-text-secondary);
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s ease;
}

.btn-cta-secondary:hover {
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(4px);
  transform: scale(1.06);
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .cta h2 {
    font-size: 32px;
  }
  
  .cta-buttons {
    flex-direction: column;
    margin: 0 70px;
  }
}
