.hero {
  width: 100%;
  padding-top: 140px;
  padding-bottom: 120px;
  background: var(--color-bg-main);
}

.hero-container {
  max-width: 100vw;
  margin: auto;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* TEXT SECTION */
.hero-content h1 {
  font-size: 52px;
  font-weight: 800;
  font-family: var(--font-heading);
  color: var(--color-text-primary);
  line-height: 1.15;
}

.gradient-text {
  background: var(--gradient-vibe);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content p {
  margin-top: 22px;
  color: var(--color-text-secondary);
  font-size: 18px;
  line-height: 1.6;
  max-width: 550px;
  font-family: var(--font-body);
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 35px;
}

.btn-primary {
  padding: 14px 28px;
  background: var(--gradient-vibe);
  color: #000;
  border-radius: 50px;
  font-weight: 700;
  text-decoration: none;
  font-family: var(--font-body);
  transition: 0.25s;
}

.btn-primary:hover {
  transform: scale(1.06);
}

.btn-secondary {
  padding: 14px 28px;
  background: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s;
}

.btn-secondary:hover {
  background: var(--color-primary);
  color: #000;
}

/* RIGHT VISUAL */
.hero-visual {
  position: relative;
  right: 0;
}

.hero-logo {
  width: 150px;
  margin-right: 9vw;
  height: auto;
  z-index: 0;
  position: relative;
  filter: drop-shadow(0 0 25px rgba(0,0,0,0.4));
}


.glow-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--gradient-vibe);
  filter: blur(150px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .hero-visual {
    margin-top: 40px;
  }

  .hero-visual {
    display: none;
  }
  .glow-circle {
    display: none;
  }
}
