@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* COULEURS VIBRANTES */
  --color-primary-lightest: #04bbff;
  --color-primary-light: #0594d0;
  --color-primary: #007198;
  --color-primary-dark: #003c57;
  --color-primary-darkest: #051c24;

  --color-secondary-dark: hsl(280, 66%, 45%);
  --color-secondary: hsl(280, 64%, 42%);
  --color-secondary-light: hsl(280, 50%, 72%); 
  
  --color-accent-dark: #81170d;
  --color-accent: hsl(5, 100%, 50%);
  --color-accent-light: #ff4848;

  --color-logo-yellow: #efdc10;
  --gradient-vibe: linear-gradient(
    135deg, 
    var(--color-primary-light) 0%, 
    var(--color-secondary-dark) 30%, 
    var(--color-accent) 80%,
    var(--color-logo-yellow) 100%
    );

  --gradient-vibe-bg : linear-gradient(
    135deg, 
    var(--color-bg-main) 0%, 
    var(--color-bg-card) 30%, 
    var(--color-primary-darkest) 80%,
    var(--color-primary-dark) 100%
    );

    --gradient-vwa: linear-gradient(
  135deg,
  var(--color-primary-lightest) 0%,
  var(--color-primary) 20%,
  var(--color-secondary) 50%,
  var(--color-accent-light) 80%,
  var(--color-logo-yellow) 100%
);

  
  /* COULEURS NEUTRES (Dark Mode par Défaut) */
  --color-bg-main: hsl(0, 0%, 5%);
  --color-bg-card: hsl(0, 0%, 25%);
  --color-bg-separator: #2C2C2C;
  
  --color-text-primary: hsl(0, 0%, 90%);
  --color-text-secondary: hsl(0, 0%, 60%);
  --color-text-tertiary: #B0B0B0;

  /* TYPOGRAPHIE */
  --font-heading: 'Inter', sans-serif;
  --font-body: "Raleway", sans-serif;
}

/* STYLES DE BASE (Mode Sombre Appliqué) */
body {
  position: relative;
  z-index: 1;
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--color-text-primary);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.card {
    background-color: var(--color-bg-card);
    padding: 20px;
    border-radius: 8px;
}

