@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* COULEURS VIBRANTES */
  --color-primary-dark: hsl(227, 100%, 40%);
  --color-primary: hsl(227, 100%, 60%);
  --color-primary-light: hsl(207, 100%, 70%);

  --color-secondary-dark: #8A2BE2;
  --color-secondary: #9C27B0;
  --color-secondary-light: #C392DB; 
  
  --color-accent-dark: #FF4500;
  --color-accent: #df4a43;
  --color-accent-light: #ff6b31;

  --color-logo-yellow: #efdc10;
  --gradient-vibe: linear-gradient(
    135deg, 
    var(--color-primary-light) 0%, 
    var(--color-primary-dark) 30%, 
    var(--color-accent) 80%,
    var(--color-logo-yellow) 100%
  );
  
  /* COULEURS NEUTRES (Dark Mode par Défaut) */
  --color-bg-main: #121212;
  --color-bg-card: #1F1F1F;
  --color-bg-separator: #2C2C2C;
  
  --color-text-primary: hsl(0, 0%, 90%);
  --color-text-secondary: hsl(0, 0%, 60%);
  --color-text-tertiary: #B0B0B0;

  /* TYPOGRAPHIE */
  --font-heading: 'Inter', sans-serif;
  --font-body: "Raleway", sans-serif;
}

/* STYLES DE BASE (Mode Sombre Appliqué) */
body {
  position: relative;
  z-index: 1;
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--color-text-primary);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.card {
    background-color: var(--color-bg-card);
    padding: 20px;
    border-radius: 8px;
}

